astropy
attrs
bokeh
casatasks
casatestutils
casatools
casaviewer
certifi
charset-normalizer
cycler
fonttools
matplotlib
numpy
packaging
panel
param
Pillow
pip
pluggy
py
pyct
pyparsing
pytest
python-dateutil
pytz
pyviz-comms
PyYAML
requests
scipy
setuptools
zipp
